# 1 hash (h1) for Main Title (i.e., dont use) 
## 2 hashes (h2) for Topic (e.g., Data Preparation)
### 3 hashes (h3) for sub-topic (e.g., under Data Preparation, should have a 3 hash called maybe "Importing Data"
#### 4 hashes (h4) for findings, analysis etc
No hash for explanations/comments

#### To standardize formating. 
#### Add more if anything to take note! DELETE AT THE END.

Anything to note WRITE HERE:

#### ROUGH PLAN
0) Library Setup

1) Data Description/Explanation or something (in place of Sample Collection). *Practical Motivation

2) Data Preparation. *Problem Formulation (im thinking we do this in 1.)

2.1 Data Cleaning

2.2 Feature Engineering... etc

3) Exploratory Data Analysis

4) Might Do Data Cleaning etc again depending on what we find in EDA

5) Modelling

6) Optimization (choose best performing model, use Grid search, etc.)

7) Findings/Conclusions?

8) References

## <u><center>ANYTHING BELOW THIS IS THE ACTUAL NOTEBOOK!</center></u>

#### SC1015 FCSA Group 1: 
- Gay Ming Kai       (C230114@e.ntu.edu.sg)
- Jacob Ong Jia Chun (JONG163@e.ntu.edu.sg)
- Lim Zu Liang       (E230184@e.ntu.edu.sg)

<h1><center><u>Adult Census Income</u></center></h1>

// this will be the Table of contents. Do last.

## Chapter 0. Library Setup

In [1]:
print("Data Analysis and Wrangling Packages:")
import pandas as pd # Library for data processing and analysis.
import numpy as np # Library for numerical computing (provides support for multi-dimensional arrays and matrices).
import scipy as sp # Library for scientific computing and advanced mathematics.
print("- pandas version: {}". format(pd.__version__))
print("- NumPy version: {}". format(np.__version__))
print("- SciPy version: {}". format(sp.__version__)) 
print('-'*37)

print("Visualization Packages:")
import matplotlib # Plotting library
import seaborn as sns  # Statistical data visualization based on matplotlib
print("- matplotlib version: {}".format(matplotlib.__version__))
print("- seaborn version: {}".format(sns.__version__))
print('-'*37)

print("Modelling Packages:")
import sklearn as sk # Collection of machine learning algorithms.
print("- scikit-learn version: {}". format(sk.__version__))
print('-'*37)

Data Analysis and Wrangling Packages:
- pandas version: 2.0.3
- NumPy version: 1.24.3
- SciPy version: 1.11.1
-------------------------------------
Visualization Packages:
- matplotlib version: 3.7.2
- seaborn version: 0.12.2
-------------------------------------
Modelling Packages:
- scikit-learn version: 1.3.0
-------------------------------------

## Chapter 1. Dataset Overview

DRAFT: (NEED TO EDIT)

The dataset (https://archive.ics.uci.edu/ml/datasets/Adult) belongs to and is managed by the University of California Irvine. It was donated by Ronny Kohavi and Barry Becker in 1994.

The dataset has 1 target, 14 features and 32561 instances, and its been noted that there are missing values so we will have to identify and rectify it.

The 14 features are: // Need to describe these features and what they represent
- age
- workclass
- fnlwgt
- education
- education-num
- marital-status
- occupation 
- relationship
- race
- sex
- capital-gain
- capital-loss
- hours-per-week
- native-country 

The label/target is "income", binary classification. >50K, <=50K.


The feature "fnlwgt" is an abbreviation for "Final Weight" (datatype: cardinal number). This feature refers to an estimated number of people each row represents. For example, a specific row may have fnlwgt=2500, age=50, race=White, sex=female ...etc. This would mean 2500 people fall into the category of being 50 years old, White, female etc. Logically speaking, since this feature basically represents the count of a specific group of people represented, it should not affect the label. I will be conducting some analysis to see if my judgement is correct or not. If it indeed does not affect the label, then I will drop it.

The feature "education.num" is the mapped version of the "education" feature. For example, education=HS-grad -> education.num=9. Since they both represent the same thing, I will be removing one of them. Machine works better with numbers over strings/text, thus I will be removing the feature "education" in Feature Engineering.

## Chapter 2. Data Preparation

### 2.1 Import Dataset as Dataframe

In [2]:
# Aquiring data.
adult_data = pd.read_csv('data/adult.data', delimiter=",", header=None) # Reading a .data file (that does not have headers) into DataFrame.

# Since the dataset file does NOT provide the headers, we have to add them in ourselves.
column_names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", 
                "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", 
                "hours-per-week", "native-country", "income"]

# Assign column names to DataFrame.
adult_data.columns = column_names

### 2.2 Peeks & Checks

In [3]:
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

#### Findings:
- Appears to not have any null/missing values, but Dataset Overview mentioned that missing values exists.
  Missing values may be replaced with a representative value (e.g., "MISSING").

#### Perform:
- Option A: Peek at the data specifically to look for missing values.
- Option B: Find out all possible values for each feature, then see if any values represents the missing values.

In [4]:
# Option A.
adult_data.head(20) # Peek at first 20 rows.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

In [5]:
adult_data.tail(20) # Peek at last 20 rows.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

#### Findings:
1) It seems that missing values are denoted as '?'.
2) Features "workclass", "education", "marital-status", "occupation", "relationship", "race", "native-country" are categorical.
3) Feature "sex" and target "income" are dichotomous/binary.

#### Perform
1) Identify all missing values, then determine what to do (cannot use central tendency as they are categorical).
2) Encode all cateogorical columns to numerical values so the machine learning algorithm works better.
3) Feature "sex" and target "income" can be converted to binary number.

### 2.3 Identify and Remove Missing Values

In [6]:
print("Number of '?' in:\n")
print("Column", 11*' ', "Count")
print("-"*25)
for i in adult_data.columns: # i refers to features.
    t = adult_data[i].value_counts() # t refers to count of each feature.
    index = list(t.index)
    print(i, end="")
    x = 20 - len(i) # For styling purposes
    for j in index:
        temp = 0
        if j == " ?":

            print (x * ' ', t[' ?']) # Once a '?' is found, print the number of '?' in the feature.
            temp = 1
            break
    if temp == 0:
        print (x * ' ', "0") # '?' is absent from all rows of a specific feature.

Number of '?' in:

Column             Count
-------------------------
age                  0
workclass            1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation           1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country       583
income               0

#### Findings:
- Only workclass, occupation and native-country contains missing data
- Only catergorical variables contain missing data based on Findings 1

#### Perform:
- Option A)Remove the rows containing missing data as there are a total of 4262 missing data which comprises about 10% of total data so not much data is lost after removal

- Option B)Predict the classification values based on other variables in the dataset using classification models like logistic regression.

In [17]:
#Option A
adult_data = adult_data.drop(adult_data[(adult_data.workclass == ' ?') | (adult_data.occupation == ' ?') | (adult_data['native-country'] == ' ?')].index)

In [18]:
print("Number of '?' in:\n")
print("Column", 11*' ', "Count")
print("-"*25)
for i in adult_data.columns: # i refers to features.
    t = adult_data[i].value_counts() # t refers to count of each feature.
    index = list(t.index)
    print(i, end="")
    x = 20 - len(i) # For styling purposes
    for j in index:
        temp = 0
        if j == " ?":

            print (x * ' ', t[' ?']) # Once a '?' is found, print the number of '?' in the feature.
            temp = 1
            break
    if temp == 0:
        print (x * ' ', "0") # '?' is absent from all rows of a specific feature.

Number of '?' in:

Column             Count
-------------------------
age                  0
workclass            0
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation           0
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country       0
income               0

#### Perform
- Remove the rows that contain ' ?' in the rows

In [8]:
# Problem statement: Predict whether the income of a specific group of people exceeds $50K/yr or not based on census (survey) data. 
# This problem is a binary classification problem.

In [9]:
# BIN columns?